---

---

<div class="Instruction">
    <p>This site is simple application for rolling genesys dices. To generate random numbers, it’s use random.org page.
        Click dice signature next to Add dice to add dice to pool, press dice in pool to remove it.</p>
</div>