@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

:root{
    --Boost:#8cd5ff;
    --Ability:#48bb48;
    --Proficiency:#ffd74a;
    --Setback:#4a4a4a;
    --Difficulty:#a448c6;
    --Challenge:#a34a4e;
    --Background:#f8f5f0;
    --Foreground:#0e0e0e;
    --Border:#eca146;
}

body{
    background-color: var(--Background);
    font-family: "Audiowide", serif;
    font-weight: 400;
    font-style: normal;
}

#root{
    max-width: 1440px;
    margin: auto;
}

.Title{
    color: var(--Foreground);
    font-size: 69.46px;
    text-align: center;
}

.Instruction{
    color: var(--Foreground);
    font-size: 22px;
    text-align: left;
}

.Section{
    color: var(--Foreground);
    font-size: 39.09px;
    text-align: left;
}

.Box{
    border: solid 1px;
    border-color: var(--Border);
    min-height: 82px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 11px;
    flex-wrap: wrap; 
}

.Dice{
    width: 82px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Dice.Boost{
    background-image: url("./assets/d_boost.svg");
}

.Dice.Abillity{
    background-image: url("./assets/d_ability.svg");
}

.Dice.Proficiency{
    background-image: url("./assets/d_proficiency.svg");
}

.Dice.Difficulty{
    background-image: url("./assets/d_difficulty.svg");
}

.Dice.Setback{
    background-image: url("./assets/d_setback.svg");
}

.Dice.Challenge{
    background-image: url("./assets/d_challenge.svg");
}

.Dice.a > .Dice_symbol {
    width: 50px;
    height: 50px;
}

.Dice.aa > .Dice_symbol {
    width: 25px;
    height: 25px;
}

.Dice_symbol.a{
    content: url("./assets/advantage.svg");
}

.Dice_symbol.s{
    content: url("./assets/success.svg");
}

.Dice_symbol.f{
    content: url("./assets/failure.svg");
}

.Dice_symbol.r{
    content: url("./assets/triumph.svg");
}

.Dice_symbol.d{
    content: url("./assets/despair.svg");
}

.Dice_symbol.t{
    content: url("./assets/threat.svg");
}

.Dice_roller{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 11px;
}

.btn.roll{
    background-color: var(--Border);
    color: var(--Background);
    border: 0cm;
    font-size: 29.33px;
    font-family: "Audiowide", serif;
    width: 105px;
    height: 49px;
    border-radius: 15px;
    margin-left: auto;
}